<% layout('/layouts/boilerplate') %>
    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="/Orange-Cat.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">
                        <%= member.handle %>
                    </h2>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus quia
                        mollitia, voluptatem quasi facilis deserunt laboriosam odit ipsa numquam repellat id sint fuga
                        incidunt vitae accusamus quod aspernatur repellendus. Incidunt?</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= member.email %>
                    </li>
                    <% if (member.idle.highScore) { %>
                        <li class="list-group-item">
                            <h5 class="mt-3">Idle High Score: <span class="badge bg-secondary">
                                    <%= member.idle.highScore %>
                                </span></h5>
                        </li>
                        <% } %>
                </ul>
                <div class="card-body">
                    <a href="/members/<%= member._id %>/edit" class="card-link btn btn-info">Edit</a>
                    <form class="d-inline" action="/members/<%= member._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger ">Delete</button>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="/members">Back to Members</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h2>Leave A Review</h2>
            <form class="mb-3 validated-form" action="/members/<%= member._id %>/reviews" method="POST" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        That'll do.
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for( let review of member.reviews) { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title">
                            Rating: <%= review.rating %>
                        </h2>
                        <p class="card-text">
                            Review: <%= review.body %>
                        </p>
                        <form action="/members/<%= member._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>
    </div>