<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/style/stars.css">
<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img src="/img/Orange-Cat.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">
          <%= post.title %>
        </h2>
        <p class="card-text"><%= post.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">Submitted by <%= post.author.username %></li>
      </ul>
      <% if( currentUser && post.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a href="/posts/<%= post._id %>/edit" class="card-link btn btn-info">Edit</a>
        <form class="d-inline" action="/posts/<%= post._id %>?_method=DELETE" method="post">
          <button class="btn btn-danger ">Delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer">
        <a href="/posts">Back to Posts</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <% if( currentUser ) { %>
    <h2>Leave A Review</h2>
    <form class="mb-3 validated-form" action="/posts/<%= post._id %>/reviews" method="POST" novalidate>
      <div class="mb-3">
        <fieldset class="starability-slot">
          <legend>Rating:</legend>
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
          <input type="radio" id="rate1" name="review[rating]" value="1" />
          <label for="rate1" title="Terrible">1 star</label>
          <input type="radio" id="rate2" name="review[rating]" value="2" />
          <label for="rate2" title="Not good">2 stars</label>
          <input type="radio" id="rate3" name="review[rating]" value="3" />
          <label for="rate3" title="Average">3 stars</label>
          <input type="radio" id="rate4" name="review[rating]" value="4" />
          <label for="rate4" title="Very good">4 stars</label>
          <input type="radio" id="rate5" name="review[rating]" value="5" />
          <label for="rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
        <div class="valid-feedback">
          That'll do.
        </div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% } %>
    <% for( let review of post.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h2 class="card-title">
          <%= review.author.username %>
          <p class="starability-result" data-rating=<%= review.rating %>>
            Rated: <%= review.rating %> stars
          </p>
        </h2>
        <!-- <h3 class="card-subtitle text-muted">
          Author: <%= review.author.username %>
        </h3> -->
        <p class="card-text">
          Review: <%= review.body %>
        </p>
        <% if( currentUser && review.author.equals(currentUser._id)) { %>
        <form action="/posts/<%= post._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
          <button class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>